services:
    sqlserver:
        image: mcr.microsoft.com/mssql/server:2025-latest
        container_name: realtime-dashboard-db
        environment:
            SA_PASSWORD: "Dev_Password_123!"
            ACCEPT_EULA: "Y"
            MSSQL_PID: "Developer"
        ports:
            - "1433:1433"
        volumes:
            - sqlserver_data:/var/opt/mssql
        healthcheck:
            test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-S", "localhost", "-U", "sa", "-P", "Dev_Password_123!", "-Q", "SELECT 1"]
            interval: 10s
            timeout: 5s
            retries: 5
volumes:
    sqlserver_data: